#img-div {
	display: block;
	margin: auto;
	background-color: grey;
}

#image {
	display: block;
	max-width: 45%;
    max-height: auto;
    margin: 0 auto;
    animation-duration: 5s;
}

#image:hover {
	
	box-shadow: 5px 0px;
}



#img-caption {
	display: block;
	margin: 15px 0 5px 0;
	text-align: center;
	font-size: 2em;

}

h1 {
	text-align: center;
	font-size: 3em;
}

h2 {
	text-align: center;
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}